{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0 text-xl font-weight-bold text-primary">Testnet Information(s)</h1>
</div>

<!-- End Content Row Number 2-->
<!-- Listing of the all testnet created by user-->




    

        <div class="row padding-10-pourcent-left-right">
            <div class="col-xl-12 col-md-12">
                <div class="card shadow h-100 mb-4">

                    <div class="card-header py-3">
                        <h6 class="h3 m-0 font-weight-bold text-primary">Testnet by {{ object.author }} : {{ object.testnet_name }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row my-2">
                            <div class="col-xl-4 col-sm-12 col-md-4 ">
                                <p class="h5 font-weight-bold text-dark">
                                Network : 
                                </p>
                                <p>
                                    {{ object.network_name }}
                                </p>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-4 ">
                                <p class="h5 font-weight-bold text-dark">
                                Status : 
                                </p>
                                <p>
                                    {{ object.network_status }}
                                </p>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-4 ">
                                <p class="h5 font-weight-bold text-dark">
                                Category : 
                                </p>
                                <p>
                                    {{ object.category }}
                                </p>
                            </div>
                        </div>


                        <div class="row my-2">
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Twitter : 
                                </p>
                                <p>
                                    {{ object.twitter }}
                                </p>
                            </div>
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Facebook : 
                                </p>
                                <p>
                                    {{ object.facebook }}
                                </p>
                            </div>
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Github : 
                                </p>
                                <p>
                                    {{ object.github }}
                                </p>
                            </div>
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Discord : 
                                </p>
                                <p>
                                    {{ object.discord }}
                                </p>
                            </div>
                        </div>



                        <div class="row my-2">
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Telegram : 
                                </p>
                                <p>
                                    {{ object.telegram }}
                                </p>
                            </div>
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Instagram : 
                                </p>
                                <p>
                                    {{ object.instagram }}
                                </p>
                            </div>
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                Youtube : 
                                </p>
                                <p>
                                    {{ object.youtube }}
                                </p>
                            </div>
                            <div class="col-xl-3 col-sm-12 col-md-3 ">
                                <p class="h5 font-weight-bold text-dark">
                                    Browser : 
                                    </p>
                                    <p>
                                        {{ object.browser }}
                                    </p>

                                
                            </div>
                        </div>



                        <div class="row my-2">
                            <div class="col-xl-6 col-sm-12 col-md-6 ">
                                <p class="h5 font-weight-bold text-dark">
                                    whitepaper : 
                                </p>
                                <p>
                                    {{ object.whitepaper }}
                                </p>
                            </div>
                            <div class="col-xl-6 col-sm-12 col-md-6 ">
                                <p class="h5 font-weight-bold text-dark">
                                    Website : 
                                    </p>
                                    <p>
                                        {{ object.website }}
                                    </p>
                            </div>
                            
                           
                        </div>





                        

                        <br>
                        <p>
                            
                        </p>
                        <br>
                        <hr>

                        <br>
                        <p class="h4 font-weight-bold text-dark">
                            
                        </p>

                    </div>


                </div>
            </div>
        </div>







        <div class="container-fluid border-all-around-radius my-2">


        <div class="row my-2">
            <div class="col-lg-6 col-sm-12 col-md-6 py-3">
                <h6 class=" font-weight-bold text-primary align-left padding-20px-left">
                    <i class="fa-solid fa-arrow-right"></i>
                    {{ object.author }}-------
                    {{ request.user.username }}
                    {% if request.user == object.author %}
                    <h1>OWNER</h1> 
                    {% else %}
                    <h1> PAS OWNER</h1> 
                    {% endif %}
                </h6>
            </div>
            <div class="col-lg-2 col-sm-12 col-md-2 py-3">
               
                   
                    {{ object.network_status }}
               
            </div>
            <div class="col-lg-2 col-sm-12 col-md-2 py-3">

                    {{ object.description }}
   
            </div>
            <div class="col-lg-2 col-sm-12 col-md-2 py-3">
                <a href="{% url 'update_testnet' slug=object.slug_original %}" class=" btn btn-primary btn-user btn-block">
                    <i class="fa-solid  fa-pen-to-square"></i>
                    Edit
                </a>
            </div>
        </div>
    </div>





{%  comment  %}

{%  if is_paginated  %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="pagination justify-content-center my-4">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark btn-sm mb4 ml-1" href="?page=1">First</a>
                    <a class="btn btn-outline-dark btn-sm mb4 ml-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="current text-dark">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark btn-sm mb4 ml-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-dark btn-sm mb4 ml-1" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{%  endif  %}
{%  endcomment  %}
<!-- End Listing of the all testnet created by user-->
<br>
<br>
<hr>
<br>
<br>

{%endblock%}