{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0 text-xl font-weight-bold text-primary">Testnet Information(s)</h1>
</div>

<!-- End Content Row Number 2-->
<!-- Listing of the all testnet created by user-->


{% if object.testnet_user.user_info.user_status == 2  %}
{% include "app/inc/user_blocked.html" %}
{% endif %}





<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">

            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">Testnet by {{ object.author }} :
                    {{ object.testnet_name }}</h6>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-primary">
                            Network :
                        </p>
                        <p>
                            {{ object.network_name }}
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-primary">
                            Status :
                        </p>
                        <p>
                            {{ object.network_status }}
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-primary">
                            Category :
                        </p>
                        <p>
                            {{ object.category }}
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-primary">
                            Website :
                        </p>
                        <p>
                            {{ object.website }}
                        </p>
                    </div>
                </div>


                <div class="row my-2">
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">

                            <i class="fa-brands fa-twitter fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="https://twitter.com/{{ object.twitter }}" target="_blank"> {{ object.twitter }}
                            </a>
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-facebook fa-2x text-primary"></i>
                        </p>
                        <p>
                            <a href="{{ object.facebook }}" target="_blank"> {{ object.facebook }} </a>

                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-github fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="https://github.com/{{ object.github }}" target="_blank"> {{ object.github }} </a>
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-discord fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="{{ object.discord }}" target="_blank"> {{ object.discord }} </a>
                        </p>
                    </div>
                </div>



                <div class="row my-2">
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-telegram fa-2x text-primary"></i>
                        </p>
                        <p>
                            <a href="{{ object.telegram }}" target="_blank"> {{ object.telegram }} </a>

                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-instagram fa-2x text-primary"></i>
                        </p>
                        <p>
                            <a href="{{ object.instagram }}" target="_blank"> {{ object.instagram }} </a>
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-youtube fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="{{ object.youtube }}" target="_blank"> {{ object.youtube }} </a>
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-primary">
                            Browser :
                        </p>
                        <p>
                            {{ object.browser }}
                        </p>


                    </div>
                </div>



                <div class="row my-2">
                    <div class="col-xl-12 col-sm-12 col-md-12 ">
                        <p class="h5 font-weight-bold text-dark">
                            whitepaper :
                        </p>
                        <p>
                            {{ object.whitepaper }}
                        </p>
                    </div>



                </div>


                <div class="row my-2">
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 1 :
                        </p>
                        <p>
                            <a href="{{ object.wallet1_link }}" target="_blank"> {{ object.wallet1_name }}</a>

                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            Type :
                        </p>
                        <p>
                            {{ object.wallet1_type }}
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 2 :
                        </p>
                        <p>
                            {{ object.wallet2_name }}
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            Type :
                        </p>
                        <p>
                            {{ object.wallet2_type}}
                        </p>


                    </div>
                </div>




                <br>
                <p>

                </p>
                <br>
                <hr>

                <br>
                <p class="h4 font-weight-bold text-dark">

                </p>

            </div>


        </div>
    </div>
</div>











<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">

            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">Tasks Description</h6>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-xl-12 col-sm-12 col-md-12 ">

                        <p> {% autoescape on %}
                            {{ object.tasks_description }}
                            {% endautoescape %}

                        </p>
                    </div>

                </div>

                <br>
                <p>

                </p>
                <br>
                <hr>

                <br>
                <p class="h4 font-weight-bold text-dark">

                </p>

            </div>


        </div>
    </div>
</div>


<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        
            {% if testnet.testnet_user == request.user  %}
            <button href="#" class=" btn btn-danger btn-user btn-block" disabled>
                REPORT
            </button> 
            {% else %}






            <button type="button" class="btn btn-danger btn-user btn-block" data-toggle="modal"
            data-target="#ReportTestnet{{ testnet.id }}">
            <span><i class="fa-regular fa-copy"></i></span>  Report
        </button>
        <div class="modal" id="ReportTestnet{{ testnet.id }}" tabindex="-1"
            aria-labelledby="ReportTestnetLabel{{ testnet.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h3 text-secondary"
                            id="ReportTestnetLabel{{ testnet.id }}">
                            <i class="fa-sharp fa-solid fa-circle-exclamation text-danger fa-4x"></i>

                        </h5>
                    </div>
                    <form method="get" action="{% url 'report_testnet' slug=testnet.slug_original %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p class="h4 font-weight-bold text-uppercase text-primary align-center">Do you
                                really want to report this Testnet  : {{ testnet.testnet_name }} ? </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-user">
                                YES
                            </button>
                            <button type="button" class="btn btn-danger btn-user" data-dismiss="modal"
                                aria-label="Close">
                                NO
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>











            {% endif %}
            
        
    </div>
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        

        {% if testnet.status_testnet == 2 %}
        <button type="button" class="btn btn-danger btn-user btn-block" disabled>
            <span><i class="fa-solid fa-circle-exclamation"></i></span>  Copy not available
        </button>
        {% else %}
        <a href="{% url 'copy_testnet' slug=object.slug_original %}" class=" btn btn-success btn-user btn-block">
                
            Copy
        </a>
        {% endif %}



    </div>
</div>














{% if testnet.testnet_user == request.user  %}
<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">

            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">Information(s) User</h6>
            </div>
            <div class="card-body">



                <div class="row my-2">
                    <div class="col-xl-12 col-sm-12 col-md-12 ">
                        <p class="h5 font-weight-bold text-dark">
                            Your Email :
                        </p>
                        <p>
                            {{ object.email_user }}
                        </p>
                    </div>



                </div>





                <div class="row my-2">
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">

                            <i class="fa-brands fa-twitter fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="https://twitter.com/{{ object.twitter_user }}" target="_blank">
                                {{ object.twitter_user }} </a>
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-telegram fa-2x text-primary"></i>
                        </p>
                        <p>
                            <a href="{{ object.telegram_user }}" target="_blank"> {{ object.telegram_user }} </a>

                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-github fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="https://github.com/{{ object.github_user }}" target="_blank">
                                {{ object.github_user }} </a>
                        </p>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-6 ">
                        <p class="h5 font-weight-bold text-dark">
                            <i class="fa-brands fa-discord fa-2x text-primary"></i>
                        </p>
                        <p>

                            <a href="{{ object.discord_user }}" target="_blank"> {{ object.discord_user }} </a>
                        </p>
                    </div>
                </div>



                <div class="row my-2">
                    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
                        <hr>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 1 :
                        </p>
                        <p>
                            <a href="{{ object.wallet1_link }}" target="_blank"> {{ object.wallet1_name }}</a>

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Type :
                        </p>
                        <p>
                            {{ object.wallet1_type }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Adress :
                        </p>
                        <p>
                            {{ object.wallet1_adress }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Seed :
                        </p>
                        <p>
                            {{ object.wallet1_seed }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Private Key :
                        </p>
                        <p>
                            {{ object.wallet1_priv_key }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 1 Clue :
                        </p>
                        <p>
                            {{ object.wallet1_clue }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 1 Password :
                        </p>
                        <p>
                            {{ object.wallet1_password }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 1 Session:
                        </p>
                        <p>
                            {{ object.wallet1_session }}

                        </p>
                    </div>
                    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
                        <hr>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 2 :
                        </p>
                        <p>
                            <a href="{{ object.wallet2_link }}" target="_blank"> {{ object.wallet2_name }}</a>

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Type :
                        </p>
                        <p>
                            {{ object.wallet2_type }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Adress :
                        </p>
                        <p>
                            {{ object.wallet2_adress }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Seed :
                        </p>
                        <p>
                            {{ object.wallet2_seed }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Private Key :
                        </p>
                        <p>
                            {{ object.wallet2_priv_key }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 2 Clue :
                        </p>
                        <p>
                            {{ object.wallet2_clue }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 2 Password :
                        </p>
                        <p>
                            {{ object.wallet2_password }}

                        </p>
                        <p class="h5 font-weight-bold text-dark">
                            Wallet 2 Session:
                        </p>
                        <p>
                            {{ object.wallet2_session }}

                        </p>
                    </div>


                </div>








                </p>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>





<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-12 col-md-12">
        <div class="card shadow h-100 mb-4">

            <div class="card-header py-3">
                <h6 class="h3 m-0 font-weight-bold text-primary">All Your Data About this testnet</h6>
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-xl-12 col-sm-12 col-md-12 ">

                        <p> {% autoescape on %}
                            {{ object.tasks_results }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
                <br><br><hr><br>
            </div>
        </div>
    </div>
</div>





<div class="row padding-10-pourcent-left-right">
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        <a href="#" class=" btn btn-danger btn-user btn-block">
                
            DELETE
        </a>  
    </div>
    <div class="col-xl-6 col-sm-12 col-md-12 py-3">
        <a href="{% url 'update_testnet' slug=object.slug %}" class=" btn btn-primary btn-user btn-block">
                
            EDIT
        </a>
    </div>
</div>


{% endif %}





<!-- End -->
<br>
<br>
<hr>
<br>
<br>

{%endblock%}